PORT=4173
HOST=0.0.0.0
ANIME1V_API=http://localhost:3001
ANIME1V_PATH=C:\anime1v-api
ANIME1V_API_KEY=dev-anime1v-key
ANIME1V_AUTO_START=true
UPDATE_REPO_URL=https://github.com/JSolanoDev/AnimeTV
DAILY_REFRESH_INTERVAL_MS=86400000
